/*
@import "compass";

@import "modules/functions";

 @import "modules/mixins";

@import "modules/variables";

@import "modules/typography";

@import "layout/header";

@import "layout/main";

@import "layout/footer";

@import "layout/sidebar";

@import "layout/offcanvas";

@import "partials/buttons";

@import "partials/forms";

@import "partials/lists";

@import "partials/tables";
*/
body {
  line-height: 1;
  color: black;
  background: white; }

html {
  height: 100%; }

body {
  font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
  color: #444;
  background: #000;
  -webkit-font-smoothing: antialiased;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%; }
