

.main {

}

.main__wrapper {
	font-size: 1.05em;
    line-height: 1.4;
    padding-bottom: 2em;
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

@include breakpoint(700px) {
    .main__wrapper {
        font-size: 1.3em;
    }
}